<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
      <app-main-menu></app-main-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [isHandset]="isHandset$ | async" (toggleMenu)="drawer.toggle()"></app-header>
    <section class="page-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
